<link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/jquery-ui.css"/>
<link rel="stylesheet" href="css/jquery-ui-timepicker-addon.css" />
<link rel="stylesheet" href="css/application.css"/>
<link rel="stylesheet" href="css/index.css"/>
<script src="js/common/jquery-2.1.4.js"></script>
<script src="js/common/jquery-ui.min.js"></script>
<script src="js/common/jquery-ui-timepicker-addon.js"></script>
<script src="js/common/jquery-ui-timepicker-zh-CN.js"></script>
<script src="layer/layer.js"></script>
<script src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script src="js/common/common.js"></script>
<script src="js/common/jquery.cityselect.js"></script>
<script src="js/common/footer.js"></script>
