<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<title>查看全文</title>

<link rel="stylesheet" href="/css/bootstrap.min.css" />
<style type="text/css">
.starter-template {
	padding: 10px 15px;
	text-align: center;
}
</style>
<script src="/js/common/jquery-2.1.4.js"></script>
<script src="/js/common/bootstrap.min.js"></script>
</head>
<body style="text-align: center; background: #F0F0EE">
	<div>
		<img style="width: 300;" src="/images/dwjs.png" /> 
		<br /> <img style="width: 258px; height: 258px" th:src="${ticket}" />
		<br /> <br /> <br />  <span style="font-family: Microsoft YaHei;color:#856340">长按识别图中二维码,继续阅读</span><br />

	</div>
</body>
</html>