<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="js/customer/customer.js"></script>
<div class="clear"></div>
<div>
	<form action="getCustomers" class="ajaxTable" id="customerRecordForm">
		<div class="borderDiv margin_top_10">
			<div class="fleft titleImage">
				<img src="images/iconfont-chaxun.png" /> 客户信息查询
			</div>
			<div class="fright">
				<a class="ajaxLoad" data-url="/saveOrUpdateCustomer"
					href="javascript:void(0);"><span>添加客户信息&nbsp;&nbsp;</span><img
					src="images/ic_group_add_grey600_36dp.png" /></a> &nbsp;&nbsp; <a
					id="hideOrShowQuery" href="javascript:void(0);"><span>高级查询&nbsp;&nbsp;</span><img
					src="images/ic_arrow_drop_down_grey600_36dp.png" /></a> <a
					id="refreshQuery" href="javascript:void(0);"><span>刷新&nbsp;&nbsp;</span><img
					src="images/ic_refresh_grey600_24dp.png" /></a>
			</div>
		</div>
		<div class="clear"></div>
		<div></div>
		<div class="queryDiv" style="display: none">
			<table>
				<tbody>
					<tr>
						<td>微信 <input type="text" name="weiXin" placeholder="输入微信查询" />&nbsp;&nbsp;
							手机&nbsp;&nbsp; <input type="text" id="phone" name="phone"
							placeholder="输入手机查询" />
						</td>
						<td style="width: 30px"></td>
						<td>qq 号 码 <input type="text" id="qq" name="qq"
							placeholder="输入qq号码查询" /></td>
						<td style="width: 30px"></td>
						<td>消费等级 <select name="consumeLevel">
								<option value="">全部</option>
								<option th:each="code:${consumeLevel}"
									th:value="${code.codeKey}" th:text="${code.codeValue}"></option>
						</select>
						</td>
						<td style="width: 30px"></td>
						<td>qq=微信 <select name="qqIsWeiXin">
								<option value="">全部</option>
								<option th:each="code:${trueFalse}" th:value="${code.codeKey}"
									th:text="${code.codeValue}"></option>
						</select>
						</td>
					</tr>
					<tr>
						<td>日期 <input name="startTime" placeholder="开始时间"
							id="startTime" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
							name="endTime" placeholder="结束时间" id="endTime" /></td>
						<td></td>

						<td>标签查询 <input type="text" id="tag" name="tag"
							placeholder="输入标签查询" /></td>
						<td></td>
						<td>是否推荐 <select name="isRecommend">
								<option value="">全部</option>
								<option th:each="code:${isRecommend}" th:value="${code.codeKey}"
									th:text="${code.codeValue}"></option>
						</select>
						</td>
						<td></td>
						<td>是否添加 <select name="isAdd">
								<option value="">全部</option>
								<option th:each="code:${trueFalse}" th:value="${code.codeKey}"
									th:text="${code.codeValue}"></option>
						</select>
						</td>
					</tr>
					<tr>
						<td>
							<div id="city">
								省份 <select style="width: 150px" name="province" class="prov"></select>&nbsp;&nbsp;
								城市&nbsp;&nbsp; <select style="width: 150px" name="city"
									class="city fright" disabled="disabled"></select>
							</div>
						</td>
						<td></td>
						<td>&nbsp;&nbsp;&nbsp;姓 名&nbsp;&nbsp;&nbsp;&nbsp;<input
							type="text" name="name" placeholder="输入姓名查询" /></td>
						<td></td>
						<td>是否排序 <select name="isOrderByAdd">
								<option value="true">是</option>
								<option value="false">否</option>
						</select>
						</td>
						<td></td>
						<td>
							<button class="fleft" id="clearForm">清空查询条件</button>
							<button class="fright" type="submit" id="querySubmit">查询</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="borderDiv"></div>
		</div>
		<div class="clear"></div>
		<table class="commonTable">
			<thead>
				<tr>
					<th class="th_back" colspan="15">详细信息列表</th>
				</tr>
				<tr>
					<th class="title" id="name">姓名</th>
					<th class="title" data-code="consumeLevel" id="consumeLevel">消费等级</th>
					<th class="title" id="phone">手机</th>
					<th class="title" id="weiXin">微信</th>
					<th class="title" id="qq">qq</th>
					<th class="title" id="province">省份</th>
					<th class="title" id="city">城市</th>
					<th class="title" id="tag" hidden="hidden">标签</th>
					<th class="title" id="email">邮箱</th>
					<th class="title" data-code="trueFalse" id="isAdd">是否已添加</th>
					<th class="title" id="addType">添加类型</th>
					<th class="title" data-code="isRecommend" id="isRecommend">是否已推荐</th>
					<th class="title" data-code="trueFalse" id="qqIsWeiXin">qq号=微信号</th>
					<th class="title" id="last_consume_time" data-type="date">最后一次消费时间</th>
					<th class="title" id="operate">操作</th>
				</tr>
			</thead>
			<tbody id="tableContent"></tbody>
		</table>
		<div class="fright margin_top_10">
			<div th:replace="common/tablePage"></div>
		</div>
	</form>
	<div class="clear"></div>
</div>
</html>