<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div>
	<div class="clear"></div>
	<form action="doSaveOrUpdateCustomer" class="ajaxSubmit">
		<div class="borderDiv margin_top_10">
			<div class="fleft titleImage">
				<img src="images/iconfont-chaxun.png" /> 客户信息管理
			</div>
		</div>
		<div class="clear"></div>
		<div class="queryDiv editDiv">
			<table class="center">
				<tbody>
					<tr>
						<td>姓名</td>
						<td style="width: 50px"></td>
						<td><input name="name" placeholder="输入名称"
							th:value="${customer.name}" /></td>
					</tr>
					<tr>
						<td>qq</td>
						<td style="width: 50px"></td>
						<td><input name="qq" placeholder="输入qq号码"
							th:value="${customer.qq}" /></td>
					</tr>
					<tr>
						<td>微信</td>
						<td></td>
						<td><input name="weiXin" placeholder="输入微信号码"
							th:value="${customer.weiXin}" /></td>

					</tr>
					<tr>
						<td>手机</td>
						<td></td>
						<td><input name="phone" placeholder="输入手机号码"
							th:value="${customer.phone}" /></td>
					</tr>
					<tr>
						<td>标签</td>
						<td></td>
						<td><input name="tag" placeholder="输入标签"
							th:value="${customer.tag}" /></td>
					</tr>
					<tr>
						<td>省</td>
						<td></td>
						<td><input name="province" placeholder="输入省"
							th:value="${customer.province}" /></td>
					</tr>
					<tr>
						<td>市</td>
						<td></td>
						<td><input name="city" placeholder="输入市"
							th:value="${customer.city}" /></td>
					</tr>
					<tr>
						<td>qq群</td>
						<td></td>
						<td><input name="qqGroupCode" placeholder="输入qq群号码"
							th:value="${customer.qqGroupCode}" /></td>
					</tr>
					<tr>
						<td>添加类型</td>
						<td></td>
						<td><input name="addType" placeholder="添加类型"
							th:value="${customer.addType}" /></td>
					</tr>
					<tr>
						<td>消费等级</td>
						<td></td>
						<td><select name="consumeLevel">
								<option th:each="code:${consumeLevel}"
									th:value="${code.codeKey}" th:text="${code.codeValue}"
									th:selected="${#strings.equals(customer.consumeLevel,code.codeKey)}"></option>
						</select></td>
					</tr>
					<tr>
						<td>是否已推荐</td>
						<td></td>
						<td><select name="isRecommend">
								<option></option>
								<option th:each="code:${isRecommend}" th:value="${code.codeKey}"
									th:text="${code.codeValue}"
									th:selected="${#strings.equals(customer.isRecommend,code.codeKey)}"></option>
						</select></td>
					</tr>
					<tr>
						<td>是否已赠送</td>
						<td></td>
						<td><select name="isGive">
								<option></option>
								<option th:each="code:${trueFalse}" th:value="${code.codeKey}"
									th:text="${code.codeValue}"
									th:selected="${#strings.equals(customer.isGive,code.codeKey)}"></option>
						</select></td>
					</tr>
					<tr>
						<td>是否已添加</td>
						<td></td>
						<td><select name="isAdd">
								<option></option>
								<option th:each="code:${trueFalse}" th:value="${code.codeKey}"
									th:text="${code.codeValue}"
									th:selected="${#strings.equals(customer.isAdd,code.codeKey)}"></option>
						</select></td>
					</tr>
					<tr>
						<td>qq号=微信号</td>
						<td></td>
						<td><select name="qqIsWeiXin">
								<option></option>
								<option th:each="code:${trueFalse}" th:value="${code.codeKey}"
									th:text="${code.codeValue}"
									th:selected="${#strings.equals(customer.qqIsWeiXin,code.codeKey)}"></option>
						</select></td>
					</tr>
					<tr>
						<td>邮件</td>
						<td></td>
						<td><input type="email" name="email" placeholder="输入邮件"
							th:value="${customer.email}" /></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>
							<button class="ajaxLoad fleft" data-url="customer">返回</button>
							<button type="submit" class="fright" id="querySubmit">提交</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="clear"></div>
		<div class="borderDiv"></div>
		<input type="hidden" name="id" th:value="${customer.id}" />
	</form>
	<div class="clear"></div>
</div>
</html>