<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<body>
	<div style="text-align: center">
		<img alt="推荐二维码" style="width: 300px; height: 300px"
			th:src="${ticket}" />
	</div>
	<div >
		<p
			style="max-width: 100%; white-space: normal; font-size: 14px; line-height: 28px; text-indent: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
			<span>扫描图文内的二维码或发送二维码,分享给20个好友关注本公众号就能领取奖品啦。</span>
		</p>
		<p
			style="max-width: 100%; min-height: 1em; white-space: normal; font-size: 14px; line-height: 28px; text-indent: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
			<span><strong
				style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
					style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important;">注意：仅凭该二维码有效，非该二维码推荐的将不计算好友推荐的数量哦！！！</span></strong></span>
		</p>
		<p
			style="margin-top: 5px; margin-bottom: 5px; max-width: 100%; min-height: 1em; white-space: normal; font-size: 14px; line-height: 28px; text-indent: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
			<span
				style="max-width: 100%; color: rgb(255, 41, 65); line-height: 25.6px; text-indent: 32px; white-space: pre-wrap; font-size: 16px; box-sizing: border-box !important; word-wrap: break-word !important;">完成分享并关注就能获得茶具一套，数量有限，抓紧时间啦。</span>
		</p>
	</div>

</body>
</html>