<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<head>
<title>分享有礼</title>
</head>
<body
	style="font-family: Microsoft YaHei; text-align: center；background: #F0F0EE">
	<div style="margin: 0 auto;">
		<br />
		<div style="font-size: 20px; text-align: center">
			<span>分享得好礼啦!</span>
		</div>
		<div>
			<p style="text-align: left">
				<span>&nbsp;&nbsp;&nbsp;&nbsp;扫描下图中的二维码或保存发送二维码给好友,分享给20个好友并关注本公众号就能领取礼品啦。</span>
			</p>
			<p style="text-align: left">
				<span style="color:red">&nbsp;&nbsp;&nbsp;&nbsp;关注完成就能获得茶具一套 或 铁观音密茶一盒。</span>
			</p>
		</div>
		<div>
			<img style="width: 100%" src="/images/lp_1.jpg" /> <br /> <br />
			<div style="text-align: center">茶具,内有茶碗、茶海（公道杯）和多个茶杯等</div>
			<br />
			<img style="width: 100%" src="/images/lp_2.jpg" /> <br /> <br />
			<div style="text-align: center">公道杯</div>
			<br /> <img style="width: 100%" src="/images/lp_3.jpg" /> <br /> <br />
			<div style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;盒装蜜茶，由上等春/冬蜜和铁观音茶叶制成</div>
			<br /> <img style="width: 100%" src="/images/lp_4.jpg" /> <br /> <br />
			<div style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;蜜茶为铁观音茶叶与蜂蜜的结合，具有茶叶的提神益思，消暑解腻，清热降火和蜂蜜的养颜美容等功效。最适合于女性朋友或者需要消暑解油腻时候。</div>
			<br />
		</div>
		<div style="text-align: center">
			<img alt="推荐二维码" style="width: 300px; height: 300px"
				th:src="${ticket}" />
		</div>
		<p style="text-align: left">
			<strong><span style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;注意：仅凭该二维码有效，非该二维码推荐的将不计算好友推荐的数量，推荐好友关注的数量为20个！抓紧时间行动吧，送完为止哦。</span></strong>
		</p>
	</div>
</body>
</html>